@import "media.scss";

footer p {
  color: #464646;
  font-size: 10px;
  text-align: right;
  margin: 2vw 20vw 1vw 20vw;
}

.footer-menu {
  margin: 10px 0;
  width: 100%;
  background-color: #333333;

  .bottom-menu-label {
    display: flex;
    text-align: center;
    color: #fff;
    line-height: 90px;
    font-size: 15px;
    font-weight: lighter;
    @include media(smart) {
      text-align: left;
      flex-direction: column;
      font-size: 15px;
      line-height: 40px;
    }

    .bottom-menu-link {
      flex-grow: 1;
      border-left: 1px solid #666666;
      @include media(smart) {
        padding-left: 20px;
        border-left: none;
        border-bottom: 1px solid #fff;
        background-image: url('/images/links-module-sprite.png');
        background-position: 120% 10px;
        background-repeat: no-repeat;
      }

      &:hover {
        background-color: #202020;
        transition: .3s;
      }
    }

    :nth-child(1) {
      border-left: none;
    }

    .hidden {
      display: none;
      @include media(smart) {
        display: block;
      }
    }
  }
}

.toolbox-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include media(smart) {
    justify-content: center;
  }

  .toolbox-footer-label {
    padding: 50px 15px;
    @include media(smart) {
      display: none;
    }

    h4 {
      padding: 20px 0;
    }

    a {
      display: block;
      text-decoration: none;
      color: #666666;
      font-size: 13px;
      padding: 5px 0;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .toolbox-footer-media {
    text-align: center;
    padding: 30px 0;
  }

  .toolbox-footer-btn {
    margin: 20px 0;
    @include media(smart) {
      margin: 45px 0;
    }

    .btn {
      display: inline;
      padding: 17px 3vw;
      text-decoration: none;
      @include media(smart) {
        padding: 15px 15vw;
      }
    }

    .btn-l {
      background-color: #00a8ec;
      color: #fff;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      &:hover {
        text-decoration: none;
      }
    }

    .btn-r {
      color: #666666;
      background-color: #cecdcc;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;

      &:hover {
        text-decoration: none;
        background-color: #e3ebee;
        transition: 0.3s;
      }
    }
  }

  .toolbox-icon-container {

    .toolbox-icon {
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #cecdcc;
      background-repeat: no-repeat;
      background-size: 200px;
      border-radius: 50px;
    }
  }

  .hidden {
    @include hidden;
  }
}

.footer-end-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  .footer-end-label {
    margin: 0 15px;
    @include media(smart) {
      text-align: center;

    }

    .footer-end-link {
      display: inline-block;
      color: #888888;
      font-size: 12px;
      font-weight: normal;
      margin-right: 30px;
      @include media(smart) {
        border-right: 1px solid #888888;
        padding: 0 20px;
        margin: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-end-p {
    margin: 20px 15px 50px;
    text-align: left;
    color: #b1b1b1;
    @include media(smart) {
      text-align: center;
    }
  }

  .orange {
    color: coral;
  }

  .patent {
    float: right;
    @include media(smart) {
      float: none;
    }
  }
}