@import "media.scss";

.footer-menu {
  margin: 10px 0;
  width: 100%;
  background-color: #333333;

  .bottom-menu-label {
    display: flex;
    text-align: center;
    color: #fff;
    line-height: 70px;
    font-size: 15px;
    font-weight: lighter;

    @include media(smart) {
      text-align: left;
      flex-direction: column;
      font-size: 15px;
      line-height: 40px;
    }

    .bottom-menu-link {
      flex-grow: 1;
      border-left: 1px solid #666666;

      @include media(smart) {
        padding-left: 20px;
        border-left: none;
        border-bottom: 1px solid #fff;
        background-image: url('/images/links-module-sprite.png');
        background-position: 120% 10px;
        background-repeat: no-repeat;
      }

      &:hover {
        background-color: #202020;
      }
    }
    .hidden {
      display: none;
      @include media(smart) {
        display: block;
      }
    }
  }
}
