@mixin media($size) {
  @if $size == smart {
    @media only screen and (max-width: 480px) {
      @content
    }
  } @else if $size == table {
    @media only screen and (min-width: 480px) and (max-width: 960px) {
      @content
    }
  } @else if $size == pc {
    @media only screen and (min-width: 960px) {
      @content
    }
  }
}


@mixin display-none {
  @media only screen and (max-width: 480px) {
    display: none;
  }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    display: none;
  }
}


@mixin display-block {
  @media only screen and (max-width: 480px) {
    display: block;
  }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    display: block;
  }
}


@mixin hidden {
  @media only screen and (max-width: 480px) {
    display: block;
  }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    display: none;
  }
  @media only screen and (min-width: 960px) {
    display: none;
  }
}


@mixin background-size-contain {
  @media only screen and (max-width: 480px) {
    background-size: contain;
  }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    background-size: contain;
  }
}


@mixin text-center {
  @media only screen and (max-width: 480px) {
    text-align: center;
  }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    text-align: center;
  }
}