@import "media.scss";

.side-menu-fix {
  position: fixed;
  right: 0;
  top: 40%;
  height: 250px;
  width: 55px;

  @include media(table) {
    display: none;
  }
  @include media(smart) {
    display: none;
  }
}

.fix-label {
  height: 50px;
  width: 55px;
  margin-bottom: 1px;
  position: relative;
  border-bottom: solid 0.5px transparent;
  background-color: #2E2E2E;

  a {
    display: block;
    height: 100%;

    &:hover {
      .slide-out {
        width: 200px;
        transition: width 0.3s ease-in;
      }
    }

    .label-icon {
      display: block;
      height: 100%;
      background-size: auto 30px;
      background-repeat: no-repeat;

    }

    .slide-out {
      font-weight: lighter;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 55px;
      width: 0;
      height: 100%;
      color: #fff;
      padding: 15px 0;
      text-align: center;
      border-bottom: solid 0.5px transparent;
      background-color: #2E2E2E;
      z-index: -1;
      white-space: nowrap;
    }

  }

}

