header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px 30px;
  background-color: #fff; }
  @media screen and (max-width: 770px) {
    header .header-wrapper {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media screen and (min-width: 770px) {
  header .navigation {
    display: none; } }

header .menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

header .menuToggle input {
  display: none; }
  header .menuToggle input:checked ~ .overlay {
    display: block; }
  header .menuToggle input:checked + .hamburger + .menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  header .menuToggle input:checked + .hamburger span {
    background-color: #fff; }
    header .menuToggle input:checked + .hamburger span:nth-child(1) {
      -webkit-transform: translate3d(0, 10px, 0) rotate(400deg);
      transform: translate3d(0, 10px, 0) rotate(400deg); }
    header .menuToggle input:checked + .hamburger span:nth-child(2) {
      -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      transform: translateX(-10px);
      opacity: 0; }
    header .menuToggle input:checked + .hamburger span:nth-child(3) {
      -webkit-transform: translate3d(0, -10px, 0) rotate(500deg);
      transform: translate3d(0, -10px, 0) rotate(500deg); }

header .hamburger {
  position: relative;
  display: block;
  width: 30px;
  height: 22px;
  z-index: 10; }
  header .hamburger span {
    display: block;
    background-color: #202020;
    position: absolute;
    width: 30px;
    height: 2px;
    -webkit-transition: background-color .2s ease 0s, -webkit-transform .2s ease 0s;
    transition: background-color .2s ease 0s, -webkit-transform .2s ease 0s;
    -o-transition: transform .2s ease 0s, background-color .2s ease 0s;
    transition: transform .2s ease 0s, background-color .2s ease 0s;
    transition: transform .2s ease 0s, background-color .2s ease 0s, -webkit-transform .2s ease 0s; }
    header .hamburger span:nth-child(1) {
      top: 0; }
    header .hamburger span:nth-child(2) {
      top: 10px; }
    header .hamburger span:nth-child(3) {
      top: 20px; }

header .menu {
  position: absolute;
  width: 250px;
  margin: -100px 0 0 -30px;
  padding-top: 125px;
  padding-left: 0;
  background: #000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform .2s ease 0s;
  transition: -webkit-transform .2s ease 0s;
  -o-transition: transform .2s ease 0s;
  transition: transform .2s ease 0s;
  transition: transform .2s ease 0s, -webkit-transform .2s ease 0s; }
  header .menu .label {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff; }
  header .menu li {
    padding: 10px 0;
    font-size: 13px;
    font-weight: bold; }
  header .menu a {
    color: #ffffff;
    text-decoration: none; }

header .shadow-wrap {
  position: absolute;
  top: 0;
  right: 0PX;
  width: 3em;
  height: 100%;
  -webkit-box-shadow: -23px 0px 30px -12px #000 inset;
  box-shadow: -23px 0px 30px -12px #000 inset; }

header .menu-dropdown {
  padding: 0;
  margin: 0; }
  header .menu-dropdown .submenu-container {
    display: block;
    padding: 0;
    border-bottom: solid 1px lightgray;
    background-color: #2E2E2E;
    color: #fff; }
    header .menu-dropdown .submenu-container .submenu-content {
      height: 0;
      overflow: hidden; }
      header .menu-dropdown .submenu-container .submenu-content > a {
        display: block;
        padding: 10px 20px;
        background-color: #464646; }
    header .menu-dropdown .submenu-container .title {
      padding: 20px; }
      header .menu-dropdown .submenu-container .title.is_active {
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        background-color: #00a8ec; }
        header .menu-dropdown .submenu-container .title.is_active + .submenu-content {
          height: auto; }

header .logo {
  width: 70px;
  height: 70px;
  background-image: url("../images/vw@2x_update.png");
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 770px) {
    header .logo {
      width: 50px;
      height: 50px;
      margin: auto;
      background-image: url("../images/vw-small@2x.png"); } }

header .header-nav {
  text-align: right;
  position: relative;
  max-width: 1000px;
  width: 100%; }
  @media screen and (max-width: 770px) {
    header .header-nav {
      display: none; } }

header .nav-top > a {
  font-size: 12px;
  color: #00a8ec;
  margin-right: 25px;
  text-decoration: none; }
  @media screen and (max-width: 960px) {
    header .nav-top > a {
      margin-right: 10px; } }
  header .nav-top > a:hover {
    text-decoration: underline; }

header .search-container {
  position: relative; }
  header .search-container .header-search {
    width: 190px;
    padding: 6px 0px 6px 10px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 13px; }
    header .search-container .header-search::-webkit-input-placeholder {
      color: lightgray; }
    header .search-container .header-search:-ms-input-placeholder {
      color: lightgray; }
    header .search-container .header-search::-ms-input-placeholder {
      color: lightgray; }
    header .search-container .header-search::placeholder {
      color: lightgray; }
  header .search-container .search-button {
    top: -1px;
    right: 4px;
    border: 0;
    font-size: 20px;
    color: lightgray;
    background-color: transparent; }

@media screen and (min-width: 770px) {
  header .search-small-wrapper {
    display: none; } }

header .search-small-toggle {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 1; }
  @media screen and (min-width: 770px) {
    header .search-small-toggle {
      display: none; } }
  header .search-small-toggle.is_active {
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    top: 110px;
    z-index: 1; }

header .search-button-white {
  color: #fff;
  padding: 20px 50px;
  font-size: 30px;
  background-color: #00a8ec;
  border: none; }

header .search-small {
  width: 100%;
  padding: 30px 50px;
  border: 0;
  color: #fff;
  background-color: #00a8ec;
  display: inline-block; }
  header .search-small::-webkit-input-placeholder {
    color: #fff;
    font-size: 15px; }
  header .search-small:-ms-input-placeholder {
    color: #fff;
    font-size: 15px; }
  header .search-small::-ms-input-placeholder {
    color: #fff;
    font-size: 15px; }
  header .search-small::placeholder {
    color: #fff;
    font-size: 15px; }

header .search-button-770px {
  padding-top: 0;
  border: 0px;
  font-size: 35px;
  color: #000;
  background-color: transparent; }

header .dropdown-navs-wrapper {
  position: relative;
  margin: 0;
  padding-top: 5px;
  padding-left: 0;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

header .nav-dropdown-toggle {
  cursor: pointer;
  padding: 14px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 13px; }
  @media screen and (max-width: 960px) {
    header .nav-dropdown-toggle {
      font-size: 13px;
      padding: 7px; } }
  header .nav-dropdown-toggle:last-child {
    padding-right: 0; }
  header .nav-dropdown-toggle:hover .header-dropdown-wrapper,
  header .nav-dropdown-toggle:hover .overlay {
    display: block; }
  header .nav-dropdown-toggle:hover .dropdown-label {
    color: #00a8ec; }
  header .nav-dropdown-toggle .dropdown-label {
    font-weight: 600;
    color: #000; }
  header .nav-dropdown-toggle .header-dropdown-wrapper {
    display: none;
    width: 100%;
    position: fixed;
    top: 95px;
    left: 0;
    z-index: 10;
    background-color: #e3ebee; }
  header .nav-dropdown-toggle .dropdown-content {
    text-align: left; }
  header .nav-dropdown-toggle .overlay {
    display: none;
    pointer-events: none; }
  header .nav-dropdown-toggle .nav-section-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 10px 0; }
  header .nav-dropdown-toggle .medium-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  header .nav-dropdown-toggle .mini-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 350px;
    height: 100%; }
    header .nav-dropdown-toggle .mini-container:last-child {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  header .nav-dropdown-toggle .btn {
    border: solid #464646 .1px;
    border-radius: 8px;
    background-color: #464646;
    padding: 12px 4px;
    font-weight: bold;
    color: #fff;
    font-size: 15px; }
  header .nav-dropdown-toggle .secondary-nav {
    font-size: 13px;
    padding: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    header .nav-dropdown-toggle .secondary-nav .secondary-nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .nav-dropdown-toggle .secondary-nav .secondary-nav-link:hover .secondary-nav-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
  header .nav-dropdown-toggle .secondary-nav-inner {
    display: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #edf4f6;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%; }
  header .nav-dropdown-toggle .secondary-nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 33.3%;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    -webkit-transition: background-color .3s ease 0s, color .3s ease 0s;
    -o-transition: background-color .3s ease 0s, color .3s ease 0s;
    transition: background-color .3s ease 0s, color .3s ease 0s; }
    header .nav-dropdown-toggle .secondary-nav-item:hover {
      background-color: #ffffff;
      color: #00a8ec; }
  header .nav-dropdown-toggle .secondary-nav-banner {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 120px;
    width: 100%;
    margin-bottom: 10px; }
  header .nav-dropdown-toggle .secondary-link-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0; }
    header .nav-dropdown-toggle .secondary-link-toggle:hover {
      color: #00a8ec;
      font-weight: bold; }

@-webkit-keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.inner-container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative; }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    .inner-container {
      height: 400px; } }
  @media only screen and (max-width: 480px) {
    .inner-container {
      display: none; } }
  .inner-container .carousel-slider-img {
    width: 0;
    height: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
    .inner-container .carousel-slider-img:nth-child(1) {
      background-image: url("../images/touareg_roadblock_1200x520.jpg"); }
    .inner-container .carousel-slider-img:nth-child(2) {
      background-image: url("../images/r-line-banner.jpg"); }
    .inner-container .carousel-slider-img:nth-child(3) {
      background-image: url("../images/volkswagen-touareg-2018-test-opinia-6-1200x520.jpg"); }
    .inner-container .carousel-slider-img.slider-visible {
      width: 100%; }
  .inner-container .slides {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%; }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  .inner-container .arrow {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid 1px #fff;
    background-color: rgba(221, 221, 221, 0.2); }
  .inner-container .arrow-label {
    display: block;
    height: 100%;
    background-size: auto 200px;
    background-repeat: no-repeat; }
  .inner-container .left, .inner-container .right {
    cursor: pointer;
    position: absolute;
    top: 200px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .inner-container .left:hover, .inner-container .right:hover {
      background-color: #b1b1b1; }
  .inner-container .left {
    left: 70px; }
  .inner-container .right {
    right: 70px; }
  .inner-container .carousel-dots {
    text-align: center; }
    .inner-container .carousel-dots .dot {
      position: relative;
      top: -30px;
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      -webkit-transition: background-color 0.6s ease;
      -o-transition: background-color 0.6s ease;
      transition: background-color 0.6s ease; }
    .inner-container .carousel-dots .active, .inner-container .carousel-dots .dot:hover {
      background-color: #717171; }

.inner-text-container {
  position: absolute;
  left: 180px;
  top: 200px;
  line-height: 46px;
  letter-spacing: 1px;
  color: #fff; }
  @media only screen and (max-width: 480px) {
    .inner-text-container {
      background-color: #333333;
      width: 100%;
      left: 0px;
      top: 55vw;
      text-align: center;
      font-size: 4vw; } }
  .inner-text-container .inner-text-button {
    background-color: rgba(221, 221, 221, 0.4);
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px; }
    @media only screen and (max-width: 480px) {
      .inner-text-container .inner-text-button {
        display: block;
        width: 100%; } }
    .inner-text-container .inner-text-button:hover {
      background-color: rgba(221, 221, 221, 0.2);
      -webkit-transition: .3s ease-in;
      -o-transition: .3s ease-in;
      transition: .3s ease-in; }
  .inner-text-container a {
    color: #fff;
    font-size: 14px;
    padding-left: 15px; }

.carousel-img {
  display: none;
  width: 100%; }
  @media only screen and (max-width: 480px) {
    .carousel-img {
      display: block; } }

.switch-container {
  position: absolute;
  right: 70px;
  top: 50px;
  text-align: right;
  line-height: 28px;
  display: block;
  color: #fff;
  font-weight: lighter;
  font-size: 14px; }
  @media only screen and (max-width: 480px) {
    .switch-container {
      padding: 1%;
      margin-bottom: 35px;
      top: 40px;
      right: 0;
      position: relative;
      background-color: #333333;
      text-align: center; } }
  .switch-container .switch {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 30px; }
    .switch-container .switch input {
      opacity: 0;
      width: 0;
      height: 0; }
    .switch-container .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 34px;
      background-color: rgba(221, 221, 221, 0.7);
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
    .switch-container .switch .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 5px;
      border-radius: 50%;
      background-color: #fff;
      border: none;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s; }
    .switch-container .switch input:checked + .slider {
      background-color: #2196F3;
      opacity: 1; }
    .switch-container .switch input:focus + .slider {
      -webkit-box-shadow: 0 0 1px #2196F3;
      box-shadow: 0 0 1px #2196F3; }
    .switch-container .switch input:checked + .slider:before {
      -webkit-transform: translateX(35px);
      -ms-transform: translateX(35px);
      transform: translateX(35px); }

.model {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
  -ms-grid-rows: 400px;
  grid-template-rows: 400px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  overflow: scroll; }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    .model {
      -ms-grid-columns: 50% 100%;
      grid-template-columns: 50% 100%; } }
  @media only screen and (max-width: 480px) {
    .model {
      -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; } }
  .model .model-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 160px 1fr;
    grid-template-columns: 160px 1fr; }
    @media only screen and (max-width: 480px) {
      .model .model-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 200px; } }
    .model .model-left .model-left-pic {
      -ms-grid-column: 1;
      -ms-grid-column-span: 1;
      grid-column: 1 / 2;
      background-image: url("../images/touareg-mlp-left-image.jpg");
      background-repeat: no-repeat;
      background-size: contain; }
      @media only screen and (max-width: 480px) {
        .model .model-left .model-left-pic {
          display: none; } }
      @media only screen and (min-width: 480px) and (max-width: 960px) {
        .model .model-left .model-left-pic {
          display: none; } }
    .model .model-left .left-text-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-items: center; }
    .model .model-left .model-left-text {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      color: #666;
      text-align: center;
      padding: 20px 30px; }
      @media only screen and (min-width: 480px) and (max-width: 960px) {
        .model .model-left .model-left-text {
          -ms-grid-column: 1;
          -ms-grid-column-span: 2;
          grid-column: 1 / 3; } }
      @media only screen and (max-width: 480px) {
        .model .model-left .model-left-text {
          padding: 10px; } }
      .model .model-left .model-left-text .left-text-link {
        display: inline-block;
        padding-bottom: 5%;
        width: 125px;
        border-bottom: 5px #f7f7f7 solid;
        text-align: center;
        cursor: pointer;
        margin-bottom: 15px; }
        .model .model-left .model-left-text .left-text-link span {
          padding: 0 27px;
          border-left: 1px #b1b1b1 solid;
          border-right: 1px #b1b1b1 solid; }
        .model .model-left .model-left-text .left-text-link:hover {
          border-bottom: 5px #666 solid; }
      .model .model-left .model-left-text .left-text-inner {
        text-align: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .model .model-left .model-left-text .left-text-inner h1 {
          margin-bottom: 20px; }
        .model .model-left .model-left-text .left-text-inner p {
          font-size: 14px;
          margin-bottom: 20px; }
        .model .model-left .model-left-text .left-text-inner .dark-button {
          background-color: #2E2E2E;
          color: #fff;
          padding: 10px 25px;
          text-decoration: none; }
          .model .model-left .model-left-text .left-text-inner .dark-button:hover {
            color: #000;
            background-color: rgba(46, 46, 46, 0.2);
            -webkit-transition: .3s ease-in;
            -o-transition: .3s ease-in;
            transition: .3s ease-in; }
        .model .model-left .model-left-text .left-text-inner .white-button {
          color: #000;
          padding: 10px 25px; }
  .model .model-right-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-size: cover; }
    @media only screen and (min-width: 480px) and (max-width: 960px) {
      .model .model-right-container {
        height: 700px;
        width: 400px; } }
    @media only screen and (max-width: 480px) {
      .model .model-right-container {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        grid-row: 2 / 4;
        padding: 10px; } }
  .model .model-right-link {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
  .model .hidden-l {
    display: none; }
    @media only screen and (max-width: 480px) {
      .model .hidden-l {
        display: block; } }
    @media only screen and (min-width: 480px) and (max-width: 960px) {
      .model .hidden-l {
        display: block; } }

.image-gallery-wrapper {
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 10px;
  grid-column-gap: 10px; }
  @media only screen and (max-width: 480px) {
    .image-gallery-wrapper {
      display: none; } }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    .image-gallery-wrapper {
      display: none; } }
  .image-gallery-wrapper .image-gallery-link {
    position: relative; }
    .image-gallery-wrapper .image-gallery-link:hover .image-link-overlay {
      opacity: 1; }
  .image-gallery-wrapper img {
    width: 100%;
    height: 100%; }
  .image-gallery-wrapper .image-link-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-in 0s;
    -o-transition: opacity .3s ease-in 0s;
    transition: opacity .3s ease-in 0s;
    opacity: 0; }
    .image-gallery-wrapper .image-link-overlay .fa-search-plus {
      color: #fff;
      margin: 25% 45%;
      opacity: .7; }

.specification {
  margin: 20px 0;
  background-color: #cecdcc;
  text-align: center;
  height: 100%; }
  @media only screen and (max-width: 480px) {
    .specification {
      padding: 20px; } }
  .specification h2 {
    font-size: 35px;
    padding: 40px 0 20px; }
  .specification h3 {
    font-weight: normal;
    margin: 20px; }
    @media only screen and (max-width: 480px) {
      .specification h3 {
        margin: 10px 0; } }
  .specification a {
    color: #333333;
    font-size: 20px; }
    @media only screen and (max-width: 480px) {
      .specification a {
        padding-bottom: 20px; } }
  .specification .specification-link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (max-width: 480px) {
      .specification .specification-link-wrapper {
        display: block; } }
    .specification .specification-link-wrapper .specification-link {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      display: inline-block;
      width: 300px;
      padding: 1vw;
      margin: 35px 0;
      font-size: 13px;
      border-right: 1px #333333 solid;
      background-repeat: no-repeat; }
      .specification .specification-link-wrapper .specification-link:nth-child(4) {
        border: none; }
        @media only screen and (max-width: 480px) {
          .specification .specification-link-wrapper .specification-link:nth-child(4) {
            border-top: 1px #333333 solid; } }
      @media only screen and (max-width: 480px) {
        .specification .specification-link-wrapper .specification-link {
          text-align: left;
          margin: 20px 0 0 0;
          padding: 12px 0 0 0;
          width: 100%;
          border-right: none;
          border-top: 1px #333333 solid; } }
      .specification .specification-link-wrapper .specification-link .specification-link-icon {
        display: inline-block;
        width: 50px;
        background-repeat: no-repeat; }
        @media only screen and (max-width: 480px) {
          .specification .specification-link-wrapper .specification-link .specification-link-icon {
            display: none; } }
      .specification .specification-link-wrapper .specification-link a {
        height: 100%;
        text-decoration: none;
        font-size: 13px;
        color: #3bc9db; }

.multi-display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  grid-gap: 5px; }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    .multi-display {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 23vw 1fr;
      grid-template-rows: 23vw 1fr; } }
  @media only screen and (max-width: 480px) {
    .multi-display {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 69vw 1fr;
      grid-template-rows: 69vw 1fr; } }
  .multi-display .multi-display-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 88% 1fr;
    grid-template-rows: 88% 1fr;
    background-image: url("../images/myperfect582.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (min-width: 480px) and (max-width: 960px) {
      .multi-display .multi-display-left {
        background-image: url("../images/myperfect200.jpg");
        background-position: -20vw;
        -ms-grid-rows: 65% 1fr;
        grid-template-rows: 65% 1fr; } }
    @media only screen and (max-width: 480px) {
      .multi-display .multi-display-left {
        -ms-grid-rows: 84% 1fr;
        grid-template-rows: 84% 1fr;
        background-size: contain; } }
    .multi-display .multi-display-left .display-left-icon {
      text-align: center;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3; }
      @media only screen and (min-width: 480px) and (max-width: 960px) {
        .multi-display .multi-display-left .display-left-icon {
          text-align: left; } }
      .multi-display .multi-display-left .display-left-icon a {
        background-image: url("../images/icons/bg-cta.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 30px;
        text-decoration: none;
        color: #000;
        width: 100px;
        padding-left: 30px; }
        @media only screen and (min-width: 480px) and (max-width: 960px) {
          .multi-display .multi-display-left .display-left-icon a {
            display: none; } }
        @media only screen and (max-width: 480px) {
          .multi-display .multi-display-left .display-left-icon a {
            font-size: 3vw;
            margin: 0; } }
      .multi-display .multi-display-left .display-left-icon .for-media-table {
        display: none; }
        @media only screen and (min-width: 480px) and (max-width: 960px) {
          .multi-display .multi-display-left .display-left-icon .for-media-table {
            display: block;
            width: 300px;
            margin: 0 0 0 30px; } }
    .multi-display .multi-display-left .for-media-table {
      display: none; }
      @media only screen and (min-width: 480px) and (max-width: 960px) {
        .multi-display .multi-display-left .for-media-table {
          display: block;
          width: 310px;
          margin: 4vw; } }
  .multi-display .multi-display-right {
    background-image: url("../images/hero-carousel-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0; }
    .multi-display .multi-display-right .multi-display-wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 6fr 1fr;
      grid-template-columns: 1fr 6fr 1fr;
      line-height: 1;
      padding: 25px 0;
      background-color: rgba(221, 221, 221, 0.5);
      border-bottom: 1px #333333 solid; }
      .multi-display .multi-display-right .multi-display-wrapper:hover {
        background-color: rgba(235, 235, 235, 0.5);
        border: none; }
      .multi-display .multi-display-right .multi-display-wrapper .multi-display-icon {
        text-align: right;
        background-repeat: no-repeat;
        background-size: 125px;
        width: 75px;
        height: 54px;
        margin-left: 20px; }
      .multi-display .multi-display-right .multi-display-wrapper .multi-display-text {
        font-size: 13px;
        line-height: 25px; }
        .multi-display .multi-display-right .multi-display-wrapper .multi-display-text h2 {
          font-weight: normal;
          margin-bottom: 10px; }
      .multi-display .multi-display-right .multi-display-wrapper .multi-display-arrowicon {
        background-repeat: no-repeat;
        background-size: 60%;
        width: 50px;
        height: 50px;
        margin-top: 10px; }

.test-drive {
  text-align: center;
  padding-top: 40px; }
  .test-drive .test-drive-icon img {
    width: 70px;
    height: 70px; }
  .test-drive .test-drive-icon h1 {
    padding: 10px 50px;
    font-size: 32px; }
  .test-drive .test-drive-icon a {
    line-height: 100px;
    background-color: #2196F3;
    color: #fff;
    padding: 13px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px; }
    @media only screen and (max-width: 480px) {
      .test-drive .test-drive-icon a {
        padding: 13px 120px; } }
  .test-drive .test-drive-image {
    height: 350px;
    background-image: url("../images/touareg-360-1200x360.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: left;
    padding: 3vw 5vw; }
    @media only screen and (max-width: 480px) {
      .test-drive .test-drive-image {
        background-size: contain;
        background-color: #333333;
        text-align: center;
        padding: 31vw 0; } }
    .test-drive .test-drive-image h1 {
      width: 350px; }
      @media only screen and (max-width: 480px) {
        .test-drive .test-drive-image h1 {
          width: 100%; } }
    .test-drive .test-drive-image p {
      padding: 15px 0;
      font-size: 19px; }
    .test-drive .test-drive-image a {
      border-radius: 0;
      line-height: 45px;
      padding: 10px 20px;
      color: #fff;
      background-color: rgba(221, 221, 221, 0.5);
      text-decoration: none; }
      @media only screen and (max-width: 480px) {
        .test-drive .test-drive-image a {
          padding: 10px 43vw; } }

footer p {
  color: #464646;
  font-size: 10px;
  text-align: right;
  margin: 2vw 20vw 1vw 20vw; }

@media only screen and (max-width: 480px) {
  .hidden {
    display: block; } }

@media only screen and (min-width: 480px) and (max-width: 960px) {
  .hidden {
    display: none; } }

@media only screen and (min-width: 960px) {
  .hidden {
    display: none; } }

.footer-menu {
  margin: 10px 0;
  width: 100%;
  background-color: #333333; }
  .footer-menu .bottom-menu-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    color: #fff;
    line-height: 90px;
    font-size: 15px;
    font-weight: lighter; }
    @media only screen and (max-width: 480px) {
      .footer-menu .bottom-menu-label {
        text-align: left;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 15px;
        line-height: 40px; } }
    .footer-menu .bottom-menu-label .bottom-menu-link {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      border-left: 1px solid #666666; }
      @media only screen and (max-width: 480px) {
        .footer-menu .bottom-menu-label .bottom-menu-link {
          padding-left: 20px;
          border-left: none;
          border-bottom: 1px solid #fff;
          background-image: url("../images/icons/links-module-sprite.png");
          background-position: 120% 10px;
          background-repeat: no-repeat; } }
      .footer-menu .bottom-menu-label .bottom-menu-link:hover {
        background-color: #00a8ec;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .footer-menu .bottom-menu-label :nth-child(1) {
      border-left: none; }
    .footer-menu .bottom-menu-label .hidden {
      display: none; }
      @media only screen and (max-width: 480px) {
        .footer-menu .bottom-menu-label .hidden {
          display: block; } }

.toolbox-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 480px) {
    .toolbox-footer {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .toolbox-footer .toolbox-footer-label {
    padding: 50px 15px; }
    @media only screen and (max-width: 480px) {
      .toolbox-footer .toolbox-footer-label {
        display: none; } }
    .toolbox-footer .toolbox-footer-label h4 {
      padding: 20px 0; }
    .toolbox-footer .toolbox-footer-label a {
      display: block;
      text-decoration: none;
      color: #666666;
      font-size: 13px;
      padding: 5px 0; }
      .toolbox-footer .toolbox-footer-label a:hover {
        text-decoration: underline; }
  .toolbox-footer .toolbox-footer-media {
    text-align: center;
    padding: 30px 0; }
  .toolbox-footer .toolbox-footer-btn {
    margin: 20px 0; }
    @media only screen and (max-width: 480px) {
      .toolbox-footer .toolbox-footer-btn {
        margin: 45px 0; } }
    .toolbox-footer .toolbox-footer-btn .btn {
      display: inline;
      padding: 17px 3vw;
      text-decoration: none; }
      @media only screen and (max-width: 480px) {
        .toolbox-footer .toolbox-footer-btn .btn {
          padding: 15px 15vw; } }
    .toolbox-footer .toolbox-footer-btn .btn-l {
      background-color: #00a8ec;
      color: #fff;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px; }
      .toolbox-footer .toolbox-footer-btn .btn-l:hover {
        text-decoration: none; }
    .toolbox-footer .toolbox-footer-btn .btn-r {
      color: #666666;
      background-color: #cecdcc;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px; }
      .toolbox-footer .toolbox-footer-btn .btn-r:hover {
        text-decoration: none;
        background-color: #e3ebee;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }

@media only screen and (max-width: 480px) {
  .toolbox-icon-container {
    text-align: center; } }

@media only screen and (min-width: 480px) and (max-width: 960px) {
  .toolbox-icon-container {
    text-align: center; } }

.toolbox-icon-container .toolbox-icon {
  display: inline-block;
  width: 45px;
  height: 50px;
  background-color: #cecdcc;
  background-repeat: no-repeat;
  background-size: 200px; }

.footer-end-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px 0; }
  .footer-end-container .footer-end-label {
    margin: 0 15px; }
    @media only screen and (max-width: 480px) {
      .footer-end-container .footer-end-label {
        text-align: center; } }
    .footer-end-container .footer-end-label .footer-end-link {
      display: inline-block;
      color: #888888;
      font-size: 12px;
      font-weight: normal;
      margin-right: 30px; }
      @media only screen and (max-width: 480px) {
        .footer-end-container .footer-end-label .footer-end-link {
          border-right: 1px solid #888888;
          padding: 0 20px;
          margin: 0; } }
      .footer-end-container .footer-end-label .footer-end-link:hover {
        text-decoration: underline; }
  .footer-end-container .footer-end-p {
    margin: 20px 15px 50px;
    text-align: left;
    color: #b1b1b1; }
    @media only screen and (max-width: 480px) {
      .footer-end-container .footer-end-p {
        text-align: center; } }
  .footer-end-container .orange {
    color: coral; }
  .footer-end-container .patent {
    float: right; }
    @media only screen and (max-width: 480px) {
      .footer-end-container .patent {
        float: none; } }

.side-menu-fix {
  position: fixed;
  right: 0;
  top: 40%;
  height: 250px;
  width: 55px; }
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    .side-menu-fix {
      display: none; } }
  @media only screen and (max-width: 480px) {
    .side-menu-fix {
      display: none; } }

.fix-label {
  height: 50px;
  width: 55px;
  margin-bottom: 1px;
  position: relative;
  border-bottom: solid 0.5px transparent;
  background-color: #2E2E2E; }
  .fix-label a {
    display: block;
    height: 100%; }
    .fix-label a:hover .slide-out {
      width: 200px;
      -webkit-transition: width 0.3s ease-in;
      -o-transition: width 0.3s ease-in;
      transition: width 0.3s ease-in; }
    .fix-label a .label-icon {
      display: block;
      height: 100%;
      background-size: auto 30px;
      background-repeat: no-repeat; }
    .fix-label a .slide-out {
      font-weight: lighter;
      font-size: 15px;
      position: absolute;
      top: 0;
      right: 55px;
      width: 0;
      height: 100%;
      color: #fff;
      padding: 15px 0;
      text-align: center;
      border-bottom: solid 0.5px transparent;
      background-color: #2E2E2E;
      z-index: -1;
      white-space: nowrap; }

.secondary-menu-wrapper {
  background-color: #333333;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 5;
  position: absolute; }

.secondary-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }
  .secondary-menu-container .label-link {
    height: 40px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    padding: 10px 0px;
    position: relative; }
    .secondary-menu-container .label-link:not(:last-child) {
      border-right: 1px solid #464646; }
    @media only screen and (max-width: 480px) {
      .secondary-menu-container .label-link {
        font-size: 13px; } }
    .secondary-menu-container .label-link .icon {
      font-size: 20px;
      padding: 0 5px;
      vertical-align: bottom; }
      .secondary-menu-container .label-link .icon:hover {
        cursor: pointer; }
      @media screen and (max-width: 960px) {
        .secondary-menu-container .label-link .icon {
          font-size: 13px; } }
  @media screen and (max-width: 770px) {
    .secondary-menu-container .hidden-md {
      display: none; } }
  @media screen and (max-width: 630px) {
    .secondary-menu-container .hidden-s {
      display: none; } }
  .secondary-menu-container .on {
    display: none; }
    @media screen and (max-width: 770px) {
      .secondary-menu-container .on {
        display: inline-block; } }

.secondary-menu-dropdown input {
  display: none; }
  .secondary-menu-dropdown input:checked + .dropdown-label {
    display: block; }

.secondary-menu-dropdown .dropdown-label {
  display: none;
  background-color: #333333;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 1; }

.secondary-menu-dropdown .dropdown-link {
  font-weight: normal;
  padding: 10px 0px;
  border-bottom: 1px solid #464646; }

.secondary-menu-dropdown-xs input {
  display: none; }
  .secondary-menu-dropdown-xs input:checked + .dropdown-label-xs {
    display: block; }

.dropdown-label-xs {
  display: none;
  background-color: #333333;
  color: #fff;
  font-weight: normal;
  border-bottom: 1px solid #464646; }

.dropdown-link-xs {
  height: 40px;
  color: #fff;
  font-weight: lighter;
  padding: 10px;
  border-top: 1px solid #464646; }
  @media only screen and (min-width: 960px) {
    .dropdown-link-xs {
      display: none; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  font-family: Noto Sans JP, sans-serif; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

html, body {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll; }

.main-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .main-container main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: auto; }

.overlay {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: .2s;
  animation-duration: .2s; }
  @media screen and (max-width: 770px) {
    .overlay {
      top: 0;
      z-index: -1; } }
